@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap');
.font-Inter
{
    font-family: "Inter", sans-serif;
}
.font-Raleway
{
    font-family: "Raleway", sans-serif;
}
.font-Roboto
{
    font-family: "Roboto", sans-serif;
}

.btn{
    color:#1DD100;
}


.btn-buy{
    background-color: #1DD100;
}
.coupon-color{
    color: #FFBF0F;
}

/* seat */
.seat {
    width: 100px;
    height: 50px;
    border-radius: 12px;
    margin: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
  }
  .seat-available {
    background-color: #F7F8F8; /* Non-selected seat bg */
    color: black;
  }
  .seat-selected {
    background-color: #1DD100; /* Selected seat bg */
    color: white;
    border-color: #1DD100; 
  }

  .seat:hover {
    background-color: #e5e7eb;
  }

  #nextButton {
    background-color: gray;
    color: white;
    padding: 10px;
    border: none;
  }

#apply-button {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: not-allowed;
  border-radius: 5px;
  font-size: 16px;
}

#apply-button:enabled {
  background-color: green;
  cursor: pointer; 
}

/*media query*/
@media (max-width: 768px) {
    .seat {
      width: 40px;
      height: 40px;
    }
  }
  